# Logs
logs
*.log
npm-debug.log*

# Build
node_modules
dist
dist-ssr

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env
.env.local
.env.development.local
.env.production.local

# OS
.DS_Store
Thumbs.db